{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}


{% block page_content %}
<!-- page_content base_dialog -->

  {% if error_message %}
  {{ error_message }}
  {% else %}

    <div class="row h-100">
      <div class="col-md-1"></div>
      <div class="col">
        <div class="row mt-4 ml-1 mr-1 px-2 py-2">
          <div class="w-100 mb-4">
            {% block dialog_descriptor %}
              <!-- dialog_descriptor base_dialog -->
            {% endblock %}
          </div>
          <form action="" method="post" class="w-100 p-4 rounded bg-light border">
            {% csrf_token %}
            {% block form_fields %}
              <!-- form_fields base_dialog -->
            {% endblock %}
            <button type="submit" class="btn btn-primary">{% block submit_button_text %}Submit{% endblock %}</button>
          </form>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

  {% endif %}

{% endblock %}
