{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}


{% block page_content %}

{% if error_message %}
You don't have permission to edit the group.
{% else %}

<div class="row h-100">
  <div class="col-md-1"></div>
  <div class="col">
    <div class="row mt-4 ml-1 mr-1 px-2 py-2">
      <div class="w-100 mb-4">
        {% block dialog_descriptor %}{% endblock %}
      </div>
      <form action="" method="post" class="w-100 p-4 rounded bg-light border">
        {% csrf_token %}
        {% block form_fields %}{% endblock %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

{% endif %}

{% endblock %}
