{% extends "consensus_engine/base_dialog.html" %}
{% load static %}



{% block toolbar %}
<div class="row bg-light border-bottom" ><div class="col my-2 ml-3 align-middle ">
  <p class="font-weight-bold my-0">{{ proposal.proposal_name }}</p>
  </div>
</div>
{% endblock %}

{% block dialog_descriptor %}
<h2>Edit a Choice.</h2>
<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla risus a elit tristique tincidunt. Curabitur suscipit eget ex in varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in gravida risus, vitae finibus est. Etiam scelerisque dignissim bibendum. Nullam et pharetra eros, at viverra est. Vivamus sed ex leo. Nunc tempus vulputate lorem et sollicitudin. Proin elementum nunc in fermentum condimentum. Ut in lacus imperdiet, luctus just facilisis tortor. Nulla fringilla, magna a bibendum euismod, sem leo vulputate elit, eu venenatis erat velit eget nulla. Suspendisse pretium eleifend nisl in suscipit. Nunc mi lectus, pretium eu lacus quis, iaculis hendrerit nunc. Mauris interdum, augue vitae fermentum maximus, urna quam tempor tellus, ut dictum mauris est auctor velit.
  <br/>Choice Text is immutable and cannot be changed.
</div>
{% endblock %}

{% block form_fields %}
<div class="form-group">
  <label for="{{ form.text.id_for_label }}">Choice Text</label>
  <input type="text" class="form-control" name="text" readonly=true maxlength={{ form.text.field.max_length }} required id="{{ form.text.id_for_label }}" placeholder="Choice text" value={{ form.text.value }}>
</div>
<div class="form-group">
  <label for="{{ form.priority.id_for_label }}">Priority</label>
  <input type="text" class="form-control" name="priority" maxlength={{ form.priority.field.max_length }} required id="{{ form.priority.id_for_label }}" value={{ form.priority.value }} autofocus selected >
</div>
{% endblock %}
