{% extends "consensus_engine/base_dialog.html" %}
{% load static %}



{% block toolbar %}
<div class="row bg-light border-bottom" ><div class="col my-2 ml-3 align-middle ">
  <p class="font-weight-bold my-0">{{ proposal.proposal_name }}</p>
  </div>
</div>
{% endblock %}

{% block dialog_descriptor %}
<h2>Edit a Choice.</h2>
<div>
  <p>Each proposal can have a set of choices
 that any user can pick, and this page allows you to add one to an existing proposal. Currently you can only change the priority of the choice.
 The priority value determines the order of how they are presented to the user.</p>
 <p>Only the user who created the Proposal can edit it.</p>
</div>
{% endblock %}

{% block form_fields %}
<div class="form-group">
  <label for="{{ form.text.id_for_label }}">Choice Text</label>
  <input type="text" class="form-control" name="text" readonly=true maxlength={{ form.text.field.max_length }} required id="{{ form.text.id_for_label }}" placeholder="Choice text" value={{ form.text.value }}>
</div>
<div class="form-group">
  <label for="{{ form.priority.id_for_label }}">Priority</label>
  <input type="text" class="form-control" name="priority" maxlength={{ form.priority.field.max_length }} required id="{{ form.priority.id_for_label }}" value={{ form.priority.value }} autofocus selected >
</div>
{% endblock %}
