{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}



{% block page_content %}

{% if error_message %}
You don't have permission to edit the proposal.
{% else %}

<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.proposal_name.id_for_label }}">Proposal Name</label>
    <input type="text" class="form-control" name="proposal_name" maxlength={{ form.proposal_name.field.max_length }} required id="{{ form.proposal_name.id_for_label }}" value="{{ form.proposal_name.value}}" aria-describedby="proposalhelp" placeholder="Enter proposal name">
    <small id="proposalHelp" class="form-text text-muted">Enter your proposal name.</small>
  </div>
  <div class="form-group">
    <label for="{{ form.proposal_caption.id_for_label }}">Proposal Caption</label>
    <textarea class="form-control" name="proposal_caption" cols="80" rows="5" maxlength={{ form.proposal_caption.field.max_length }} required id="{{ form.proposal_captionm.id_for_label }}"  placeholder="Caption">{{ form.proposal_caption.value }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endif %}


{% endblock %}
