{% extends "consensus_engine/base_dialog.html" %}
{% load static %}

{% block dialog_descriptor %}
<h2>Edit a group's detail</h2>
<div>
  <p>Proposals can be grouped under a single category, only one level of
  hierarchy is allowed to keep the process simple, and proposals can only exist in one group. Users can view and vote on the proposals within the groups they are members of.
  At the moment all users are members of all groups, but group membership will be refined in the future. </p>
  <p>Proposal Groups have a name and a description, the name will appear on the task bar on the right and the description is used to provide members an idea
  of what the group is designed to do.</p>
  <p>Note: Only the user which created the Group can edit it. Groups cannot be currently deleted.</p></div>
{% endblock %}

{% block form_fields %}
<div class="form-group">
  <label for="{{ form.group_name.id_for_label }}">Group Name</label>
  <input type="text" class="form-control" name="group_name" maxlength={{ form.group_name.field.max_length }} required id="{{ form.group_name.id_for_label }}" value="{{ form.group_name.value}}" aria-describedby="groupHelp" placeholder="Enter group name">
  <small id="groupHelp" class="form-text text-muted text-right">Max 30 chars.</small>
</div>
<div class="form-group">
  <label for="{{ form.group_description.id_for_label }}">Group Description</label>
  <textarea class="form-control" name="group_description" cols="80" rows="5" maxlength={{ form.group_description.field.max_length }} required id="{{ form.group_description.id_for_label }}" value="{{ form.group_description.value}}"  placeholder="Please enter more details about the group.">{{ form.group_description.value }}</textarea>
</div>
{% endblock %}
