{% extends "consensus_engine/base_dialog.html" %}
{% load static %}

{% block toolbar %}
{% if proposal_group %}
<div class="row bg-light border-bottom" ><div class="col my-2 ml-3 align-middle ">
  <p class="font-weight-bold my-0">{{ proposal_group.group_name }}</p>
  </div>
</div>
{% endif %}
{% endblock %}

{% block dialog_descriptor %}
<h2>Edit proposal details</h2>
<div>
  <p>Proposals are the key part of the Consensus Engine. You can edit existing proposal details. Each proposal can have a set of choices
  that any user can pick, and these can ve changed in this page.</p>
  <p>Proposals have a name and a description, the name will appear against the votes and the description is used to provide members an idea
  of what the proposal is for.
  Note: Only the user who created the Proposal can edit it. Currently you can change the choices and the
  choices, but this may not be available in the future. </p></div>
{% endblock %}

{% block form_fields %}
<div class="form-group">
  <label for="{{ form.proposal_name.id_for_label }}">Proposal Name</label>
  <input type="text" class="form-control" name="proposal_name" maxlength={{ form.proposal_name.field.max_length }} required id="{{ form.proposal_name.id_for_label }}" aria-describedby="proposalhelp" placeholder="Enter proposal name" value="{{ proposal.proposal_name }}">
  <small id="proposalHelp" class="form-text text-muted text-right">Max 30 chars.</small>
</div>
<div class="form-group">
  <label for="{{ form.proposal_description.id_for_label }}">Proposal Description</label>
  <textarea class="form-control" name="proposal_description" cols="80" rows="5" maxlength={{ form.proposal_description.field.max_length }} required id="{{ form.proposal_description.id_for_label }}"  placeholder="Please enter more details about the proposal.">{{ proposal.proposal_description }}</textarea>
</div>
{% endblock %}
