{% extends "base.html" %}
{% load static %}

{% block page_nav %}
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'list_proposals' %}">
        <span data-feather="home"></span>
        All Proposals <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Actions</span>
    <a class="d-flex align-items-center text-muted" href="#">
      <span data-feather="plus-circle"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'new_proposal' %}">
        <span data-feather="file-text"></span>
        New Proposal
      </a>
    </li>
  </ul>
{% endblock %}

{% block page_content %}

{% if user.is_authenticated %}

  <div><a href="{% url 'new_proposal' %}">New Proposal</a></div>
  <div><a href="{% url 'list_proposals' %}">List Proposals</a></div>
  <div><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></div>
{% else %}
  <div><a href="{% url 'login'%}?next={{request.path}}">Login</a></div>
{% endif %}

{% endblock %}
