{% extends "consensus_engine/base_dialog.html" %}
{% load static %}
{% load proposaltags %}

{% block dialog_descriptor %}

{% if error_message %}
Error is.... {{error_message}}
{% endif %}


ksjfjksfjdf

{% if group %}

<h2>{{ group.group_name }}</h2>
<div><p><b>{{ group.group_name }}</b></p></div>
<div>
  <p>Add People to this Group</p>
  <p>{% lorem 3 p %} </p>
</div>

{% endif %}

{% endblock %}

{% block form_fields %}

{% if group %}

  {% csrf_token %}
  <div class="form-group">
  <div class="list-group">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% user_search %}
  </div>
  <!-- Default unchecked -->
  <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" name="allow_trials" id="allow_trials">
      <label class="custom-control-label" for="allow_trials">Allow user to trial proposals</label>
  </div>
{% else %}

{% endif %}

{% endblock %}
