{% extends "consensus_engine/base_dialog.html" %}
{% load static %}

{% block dialog_descriptor %}

{% if proposalgroup %}

<h2>Join {{ proposalgroup.group_name }}</h2>
<div>{{ proposalgroup.group_description }}</div>
<div>
  <p>Please select a Proposal Group to join.</p>
  <p>Proposals can be grouped under a single category, only one level of
  hierarchy is allowed to keep the process simple, and proposals can only exist in one group. Users can view and vote on the proposals within the groups they are members of.
  At the moment all users are members of all groups, but group membership will be refined in the future. </p>
  <p>Note: Only the user which created the Group can edit it. Groups cannot be currently deleted.</p></div>
{% endif %}

{% endblock %}

{% block form_fields %}

{% if proposalgroup %}

  {% csrf_token %}
  <div class="form-group">
  <div class="list-group">

  </div>
  </div>

{% else %}
    <p>Invalid Proposal Group.</p>
{% endif %}

{% endblock %}

{% block submit_button_text %}Join{% endblock %}
