<div>{{ user.get_username }}</div>

{% if current_choice %}
  <p>Current Choice: {{ current_choice.choice_ticket.proposal_choice.text }}</p><br>
{% else %}
<p>No current choice </p>
{% endif %}

{% if proposal %}
  <form action="{% url 'register_vote' proposal.id %}" method="post">
  {% csrf_token %}
  {% for choice in proposal.proposalchoice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
  {% endfor %}
  <input type="submit" value="register_vote">
  </form>
{% else %}
  <p>No proposal choices are available.</p>
{% endif %}
