{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}
{% load proposaltags %}

{% block toolbar %}

<div class="row bg-light border-bottom" >
  <div class="col my-2 ml-3 align-middle px-2">
    <p class="my-0">
      <span class="font-weight-bold my-0">{% if proposal_group %}{{ proposal_group.group_name }}{% else %}Group Members{% endif %}</span>
      {% if proposal_group and can_edit %}<a href="{% url 'edit_proposal_group' proposal_group.id %}" title="Edit the {{proposal_group.group_name}} Group"><span class="ml-2 text-muted" data-feather="edit"></span></a>
      {% if can_invite %}
      <a href="{% url 'invite_people' proposal_group.id %}?next={{ request.path|urlencode }}" class="text-muted" title="Invite People to this Group">
        <span class="ml-2 align-top" data-feather="user-plus"></span>
        </a>
      {% endif %}
      {% endif %}
    </p>
    <p class="my-0 py-0 text-muted"><small>{% if proposal_group %}{{ proposal_group.group_description }}{% else %}These are the members of this group{% endif %}</small></p>
  </div>
</div>


{% endblock %}

{% block child_actions %}
{# create an opportunity for actions #}
{% endblock %}

{% block page_content %}

<div class="flex-body d-flex flex-wrap px-2">
    {% for member in members_list %}
    <div class="card" style="width: 100%;">
    <div class="card-body">
      {{ member.user.username }}
      {% if member.user == proposal_group.owned_by %}
      Owner
      {% else %}
      <a href="{% url 'edit_group_membership' member.id %}" class="text-muted" title="Change Trial">
                {% if member.can_trial %}Can Trial{% else %}Cannot Trial{% endif %}
              </a>
      {% endif %}


     {% if member.user.id != request.user.id %}
     <a href="{% url 'remove_group_member' member.id %}" class="text-muted" title="Remove user from group">
       <span class="ml-2 align-top" data-feather="trash-2"></span>
       </a>
    {% endif %}
    </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
