{% extends "base_userlayout.html" %}
{% load static %}


{% block child_actions %}
<!-- creates a opportunity for child actions in the menu -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'new_proposal' %}">
      <span data-feather="file-text"></span>
      New Proposal
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'new_proposal_group' %}">
      <span data-feather="file-text"></span>
      New Group
    </a>
  </li>
{% endblock %}

{% block page_content %}

{% if proposalgroup_list %}

  {% for proposalgroup in proposalgroup_list %}
      {% if forloop.first %}<div class="row"><div class="col"><div class="card-deck mt-2">{% endif %}

          <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ proposalgroup.group_name}}</h5>
        </div>
        <div class="card-footer text-muted">
          <a href="{% url 'edit_proposal_group' proposalgroup.id %}" class="btn btn-primary">Edit</a>
        </div>
      </div>
      {% if forloop.counter|divisibleby:5 %}</div></div></div><div class="row"><div class="col"><div class="card-deck mt-2">{% endif %}
      {% if forloop.last %}</div>{% endif %}
  {% endfor %}


{% else %}
  <p>No proposal groups are available.</p>
{% endif %}

{% endblock %}
