{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}
{% load proposaltags %}

{% block toolbar %}

<div class="row bg-light border-bottom" >
  <div class="col my-2 ml-3 align-middle px-2">
    <p class="my-0">
      <span class="font-weight-bold my-0">{% if proposal_group %}{{ proposal_group.group_name }}{% else %}My Proposals{% endif %}</span>
      {% if proposal_group and can_edit %}<a href="{% url 'edit_proposal_group' proposal_group.id %}" title="Edit the {{proposal_group.group_name}} Group"><span class="ml-2 text-muted" data-feather="edit"></span></a>
      {% if can_invite %}
      <a href="{% url 'invite_people' proposal_group.id %}?next={{ request.path|urlencode }}" class="text-muted" title="Invite People to this Group">
        <span class="ml-2 align-top" data-feather="user-plus"></span>
      </a>
      <a href="{% url 'list_group_members' proposal_group.id %}" class="text-muted" title="List Members">
        <span class="ml-2 aling-top" data-feather="user"></span>
      </a>
      {% endif %}
      {% if can_create_proposals %}
      <a href="new/" title="Add new Proposal in {{proposal_group.group_name}}"><span class="ml-2 text-muted" data-feather="plus-circle"></span></a>{% endif %}
      {% endif %}
      {% if can_trial %}
        <span class="ml-2 text-muted" data-feather="compass"></span>Trial
      {% endif %}
    </p>
    <p class="my-0 py-0 text-muted"><small>{% if proposal_group %}{{ proposal_group.group_description }}{% else %}These are the proposals you owned and can contribute to{% endif %}</small></p>
  </div>
  {% if proposal_group %}
  {% if proposal_group.has_default_group_proposal_choices %}
  {# We can show group statistics if there is a commont set of choices for the group #}
<h1>Show Group Statistics</h1>
  {% endif %}
  {% endif %}
</div>


{% endblock %}

{% block child_actions %}
{# create an opportunity for actions #}
{% endblock %}

{% block page_content %}

{% if proposals_list %}
    <div class="flex-body d-flex flex-wrap px-2">
        {% for proposal in proposals_list %}
        {% proposal_list_element proposal request.user.id voting_enabled request.path|urlencode %}
        {% endfor %}
    </div>
{% else %}
  <div class="row mt-4">
    <div class="col-md-1"></div>
    <div class="col">
      <div class="row mt-2 ml-1 mr-1 px-2 py-2">
        <div class="w-100 mb-4">
          <h2>No proposals are currently available in this group.</h2>
        </div>
        <div>
          <p>Proposals are the key part of the Consensus Engine. Users create proposals and people are asked to vote on
          them to get a consensus of opinion to show support for your proposal. Adding a Proposal here will add that proposal to the group &quot;{{ proposal_group.group_name}}&quot;.
          If this is not what you want to do, you can add a new Proposal to any group from the task bar on the left. </p>
          <p>Note: Only the user who created the Proposal can edit it.</p>
        </div>
        {% if can_create_proposals %}
        <div class="mt-2 w-100 p-4 rounded bg-light border">
          <p>Why don't you add one...</p>
          {% if proposal_group %}
          <a href="{% url 'new_proposal_in_group' proposal_group.id|default:0 %}" class="btn btn-primary">Add Proposal</a>
          {% else %}
          <a href="{% url 'new_proposal' %}" class="btn btn-primary">Add Proposal</a>
            {% endif %}
        </div>
          {% endif %}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
{% endif %}


{% endblock %}
