{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}

{% block toolbar %}

<div class="row bg-light border-bottom" >
  <div class="col my-2 ml-3 align-middle px-2">
    <p class="my-0">
      <span class="font-weight-bold my-0">{% if proposal_group %}{{ proposal_group.group_name }}{% else %}My Proposals{% endif %}</span>
      {% if proposal_group %}<a href="{% url 'edit_proposal_group' proposal_group.id %}"><span class="ml-2 text-muted" data-feather="edit"></span></a>
      <a href=""><span class="ml-2 text-muted" data-feather="info"></span></a>{% endif %}
    </p>
    <p class="my-0 py-0 text-muted"><small>{% if proposal_group %}{{ proposal_group.group_description }}{% else %}These are the proposals you owned and can contribute to{% endif %}</small></p>
  </div>
</div>


{% endblock %}


{% block child_actions %}

<!-- creates a opportunity for child actions in the menu -->
  <li class="nav-item">
    {% if proposal_group %}
    <a class="nav-link" href="{% url 'new_proposal_in_group' proposal_group.id %}">
    {% else %}
    <a class="nav-link" href="{% url 'new_proposal' %}">
    {% endif %}
      <span data-feather="file-text"></span>
      New Proposal
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'new_proposal_group' %}">
      <span data-feather="file-text"></span>
      New Group
    </a>
  </li>
{% endblock %}

{% block page_content %}

{% if proposals_list %}

  {% for proposal in proposals_list %}
      {% if forloop.first %}<div class="row"><div class="col"><div class="card-deck mt-2">{% endif %}

          <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ proposal.proposal_name}}</h5>
          <p class="card-text">{{ proposal.proposal_description }}</p>
          <p class="card-text">My Vote: {{ proposal.choice_text }}</p>
        </div>
        <div class="card-footer text-muted">
          <a href="{% url 'vote_proposal' proposal.id %}?next={{ request.path|urlencode }}" class="btn btn-primary">Vote</a>
          <a href="{% url 'view_proposal' proposal.id %}" class="btn">View</a>
        </div>
      </div>
      {% if forloop.counter|divisibleby:5 %}</div></div></div><div class="row"><div class="col"><div class="card-deck mt-2">{% endif %}
      {% if forloop.last %}</div>{% endif %}
  {% endfor %}

{% else %}
<div class="row mt-4">
  <div class="col-md-1"></div>
  <div class="col">
    <div class="row mt-2 ml-1 mr-1 px-2 py-2">
      <div class="w-100 mb-4">
        <h2>No proposals are available in this group.</h2>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla risus a elit tristique tincidunt. Curabitur suscipit eget ex in varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in gravida risus, vitae finibus est. Etiam scelerisque dignissim bibendum. Nullam et pharetra eros, at viverra est. Vivamus sed ex leo. Nunc tempus vulputate lorem et sollicitudin. Proin elementum nunc in fermentum condimentum. Ut in lacus imperdiet, luctus just facilisis tortor. Nulla fringilla, magna a bibendum euismod, sem leo vulputate elit, eu venenatis erat velit eget nulla. Suspendisse pretium eleifend nisl in suscipit. Nunc mi lectus, pretium eu lacus quis, iaculis hendrerit nunc. Mauris interdum, augue vitae fermentum maximus, urna quam tempor tellus, ut dictum mauris est auctor velit.
      </div>
      <div class="mt-2 w-100 p-4 rounded bg-light border">
        <p>Why don't you add one...</p>
        {% if proposal_group %}
        <a href="{% url 'new_proposal_in_group' proposal_group.id|default:0 %}" class="btn btn-primary">Add Proposal</a>
        {% else %}
        <a href="{% url 'new_proposal' %}" class="btn btn-primary">Add Proposal</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
{% endif %}

{% endblock %}
