{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}



{% block page_content %}

{% if error_message %}
You don't have permission to edit the proposal.
{% else %}
  <div class="row h-100">
    <div class="col-md-1"></div>
    <div class="col">
      <div class="row mt-4 ml-1 mr-1 px-2 py-2">
          <div class="w-100 mb-4">
            <h2>Create a new proposal.</h2>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla risus a elit tristique tincidunt. Curabitur suscipit eget ex in varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in gravida risus, vitae finibus est. Etiam scelerisque dignissim bibendum. Nullam et pharetra eros, at viverra est. Vivamus sed ex leo. Nunc tempus vulputate lorem et sollicitudin. Proin elementum nunc in fermentum condimentum. Ut in lacus imperdiet, luctus just facilisis tortor. Nulla fringilla, magna a bibendum euismod, sem leo vulputate elit, eu venenatis erat velit eget nulla. Suspendisse pretium eleifend nisl in suscipit. Nunc mi lectus, pretium eu lacus quis, iaculis hendrerit nunc. Mauris interdum, augue vitae fermentum maximus, urna quam tempor tellus, ut dictum mauris est auctor velit.
          </div>
            </div>
          <form action="/proposals/new/" method="post" class="w-100 p-4 rounded bg-light border">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.proposal_name.id_for_label }}">Proposal Name</label>
              <input type="text" class="form-control" name="proposal_name" maxlength={{ form.proposal_name.field.max_length }} required id="{{ form.proposal_name.id_for_label }}" aria-describedby="proposalhelp" placeholder="Enter proposal name">
              <small id="proposalHelp" class="form-text text-muted text-right">Max 30 chars.</small>
            </div>
            <div class="form-group">
              <label for="{{ form.proposal_description.id_for_label }}">Proposal Detail</label>
              <textarea class="form-control" name="proposal_description" cols="80" rows="5" maxlength={{ form.proposal_description.field.max_length }} required id="{{ form.proposal_descriptionm.id_for_label }}"  placeholder="Please enter more details about the proposal."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>

  </div>
{% endif %}

<!--
<input type="text" name="proposal_name" maxlength="200" required id="id_proposal_name">
<textarea name="proposal_description" cols="80" rows="20" maxlength="200" required id="id_proposal_description">
-->

{% endblock %}
