{% extends "consensus_engine/base_dialog.html" %}
{% load static %}



{% block toolbar %}
<div class="row bg-light border-bottom" ><div class="col my-2 ml-3 align-middle ">
  <p class="font-weight-bold my-0">{{ proposal.proposal_name }}</p>
  </div>
</div>
{% endblock %}

{% block dialog_descriptor %}
<h2>Create a new choice.</h2>
<div>
  <p>Each proposal can have a set of choices
 that any user can pick, and this page allowed you to add one to an existing proposal. Currently you can change the choices and the
 choices, but this may not be available in the future. Choices have a numeric priority value - this will determine how they are presented to the user.</p>
 <p>Only the user who created the Proposal can edit it.</p>
</div>
{% endblock %}

{% block form_fields %}
<div class="form-group">
  <label for="{{ form.text.id_for_label }}">Choice Text</label>
  <input type="text" class="form-control" name="text" maxlength={{ form.text.field.max_length }} required id="{{ form.text.id_for_label }}" placeholder="Choice text" autofocus>
</div>
<div class="form-group">
  <label for="{{ form.priority.id_for_label }}">Priority</label>
  <input type="text" class="form-control" name="priority" maxlength={{ form.priority.field.max_length }} required id="{{ form.priority.id_for_label }}" value={{ form.priority.value }} >
</div>
{% endblock %}
