{% extends "base_userlayout.html" %}
{% load static %}


{% block page_content %}

{% if error_message %}
You don't have permission to edit the proposal.
{% else %}
<form action="/proposals/new/" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.proposal_name.id_for_label }}">Proposal Name</label>
    <input type="text" class="form-control" name="proposal_name" maxlength={{ form.proposal_name.field.max_length }} required id="{{ form.proposal_name.id_for_label }}" aria-describedby="proposalhelp" placeholder="Enter proposal name">
    <small id="proposalHelp" class="form-text text-muted">Enter your proposal name.</small>
  </div>
  <div class="form-group">
    <label for="{{ form.proposal_caption.id_for_label }}">Proposal Caption</label>
    <textarea class="form-control" name="proposal_caption" cols="80" rows="5" maxlength={{ form.proposal_caption.field.max_length }} required id="{{ form.proposal_captionm.id_for_label }}"  placeholder="Caption"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}

<!--
<input type="text" name="proposal_name" maxlength="200" required id="id_proposal_name">
<textarea name="proposal_caption" cols="80" rows="20" maxlength="200" required id="id_proposal_caption">
-->

{% endblock %}
