{% extends "base_userlayout.html" %}
{% load static %}


{% block child_actions %}
<!-- creates a opportunity for child actions in the menu -->
<li class="nav-item">
  <a class="nav-link" href="{% url 'edit_proposal' proposal.id %}"">
    <span data-feather="file-text"></span>
    Edit Proposal Details
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'new_choice' proposal.id %}"">
    <span data-feather="file-text"></span>
    New Choice
  </a>
</li>
{% endblock %}

{% block page_content %}
  {% if proposal %}

  <div class="row">

    <div class="col">

        <div class="row">
          <div class="col mt-2">
            <div class="jumbotron">
                <h1 class="display-4">{{ proposal.proposal_name }}</h1>
                <p class="lead">{{ proposal.proposal_caption }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <ul class="list-group">
              {% for choice in active_choices %}
              <li class="list-group-item">
                <div class="row">
                  <div class="col">
                    {{ choice.text }}
                  </div>
                  <div class="col-0.5">
                    <span class="badge badge-pill badge-primary">{{ choice.current_vote_count }}</span>
                  </div>
                  <div class="col-0.5">
                    <a class="btn btn_secondary" href="{% url 'edit_choice' proposal.id choice.id %}">Edit</a>
                  </div>
                  <div class="col-0.5">
                    <a class="btn btn_secondary mr-2" href="{% url 'delete_choice' proposal.id choice.id %}">Remove</a>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>

    </div>

  </div>

  {% endif %}

{% endblock %}
