{% extends "base_userlayout.html" %}
{% load static %}


{% block page_content %}
  {% if proposal %}

  <div class="row">

    <div class="col">

        <div class="row">
          <div class="col mt-2">
            <div class="jumbotron">
                <h1 class="display-4">{{ proposal.proposal_name }}</h1>
                <p class="lead">{{ proposal.proposal_caption }}</p>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col d-flex align-items-end flex-column mt-2">
            <a href="{% url 'edit_proposal' proposal.id %}" class="btn btn-primary p-2">Edit Proposal Details</a>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <ul class="list-group">
              {% for choice in active_choices %}
              <li class="list-group-item">
                {{ choice.text }}
                <span class="badge badge-pill badge-primary">{{ choice.current_vote_count }}</span>
                <a class="btn" href="{% url 'edit_choice' proposal.id choice.id %}">Edit</a>
                <a class="btn" href="{% url 'delete_choice' proposal.id choice.id %}">Remove</a>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>

      <div class="row ">
        <div class="col d-flex align-items-end flex-column mt-2">
          <a class="btn btn-primary p-2" href="{% url 'new_choice' proposal.id %}">Add</a>
        </div>
      </div>

    </div>

  </div>

  {% endif %}

{% endblock %}
