{% extends "consensus_engine/base_userlayout.html" %}
{% load static %}
{% load proposaltags %}


{% block toolbar %}
<div class="row bg-light border-bottom" >
  <div class="col my-2 ml-3 align-middle px-2">
    <p class="my-0">
      <span class="font-weight-bold my-0">{{ proposal.proposal_group.group_name }}</span>
      {% if can_edit %}
      <a href="{% url 'assign_proposals_group' proposal.id %}" title="Change the Group for this Proposal"><span class="ml-2 text-muted" data-feather="edit-2"></span></a>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}

{% block page_content %}
  {% if proposal %}

  <div class="row">

    <div class="col">

        <div class="row">
          <div class="col mt-2">
            <div class="jumbotron mb-0">
              <p>
                <span class="display-3">{{ proposal.proposal_name }}</span>
                {% if can_edit %}
                  <a href="{% url 'edit_proposal' proposal.id %}" title="Edit Proposal details"><span class="ml-2 text-muted" data-feather="edit"></span></a>
                {% endif %}
              </p>
                <p class="lead">{{ proposal.proposal_description }}</p>
                <p class="card-text">Current Consensus: {% current_consensus proposal.id %} </p>
                <p class="card-text">{% proposal_state proposal %}
                  {% if proposal.owned_by == request.user %}
                  <a href="{% url 'change_state' proposal.id %}" title="Change state"><span class="ml-2 text-muted" data-feather="edit"/></a>
                  {% endif %}
                </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            {% if error_message %}
              <p>{{error_message}}</p>
            {% else %}
              <dl>
              <dt>Spread of Votes {% if query_date %} ({{query_date}}){% endif %}</dt>
              {% for choice, vote_analysis in vote_spread.items %}
              <dd class="percentage percentage-{{vote_analysis.percentage|floatformat:"0"}}">
              <span class="text">
                {{vote_analysis.text}}: {{vote_analysis.percentage|floatformat:"0"}}%
                {% if can_edit %}
                <div class="col-0.5">
                  <a href="{% url 'edit_choice' proposal.id choice %}" title="Edit choice"><span class="ml-2 text-muted" data-feather="edit"></span></a>
                </div>
                <div class="col-0.5">
                  <a href="{% url 'delete_choice' proposal.id choice %}" title="Remove choice"><span class="ml-2 text-muted" data-feather="trash-2"></span></a>
                </div>
                {% endif %}
              </span>
              </dd>
                  {% endfor %}
              </dl>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col">

            {% if can_edit %}
            <div class="col">
                <a href="{% url 'new_choice' proposal.id %}"><span class="ml-0 px-0 mt-2" data-feather="plus-circle"></span> Add Choice</a>
            </div>
            {% endif %}
            <br><br><br>
        </div>
      </div>

        {% if history_date_list %}
        <div class="row">
          <div class="col">
            <h3> Historical Data </h3>
            <ul>
              {% for history_date in history_date_list %}
              <li>
                <a href="{% url 'view_proposal_at_date' proposal.id history_date %}">{{ history_date }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}

<br><br><br><br>
    </div>

  </div>

  {% endif %}

{% endblock %}
