{% extends "consensus_engine/base_dialog.html" %}
{% load static %}

{% block dialog_descriptor %}

{% if proposal %}

<h2>{{ proposal.proposal_name }}</h2>
<div><p><b>{{ proposal.proposal_description }}</b></p></div>
<div>
  <p>Please cast your vote for this proposal</p>
  <p>Votes are cast for a proposal choice, a user can change their vote as many times as wanted, but each vote is
  captured with only the last one counting toward the consensus. By saving all the votes cast we can analyse
  the state of the consensus over time. All the votes that a user has cast can be found in the My Votes function
  on the task bar.</p></div>

{% endif %}

{% endblock %}

{% block form_fields %}

{% if proposal %}

  {% csrf_token %}
  <div class="form-group">
  <div class="list-group">
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% for choice in active_choices %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" {% if current_choice.proposal_choice.id == choice.id %}checked{% endif %}/>
    <label class="list-group-item" for="choice{{ forloop.counter }}">{{ choice.text }}</label>
  {% endfor %}
  </div>
  </div>
{% else %}
    <p>No proposal choices are available.</p>
{% endif %}

{% endblock %}
